<!DOCTYPE html>
<html ng-app ng-controller="PhoneListController">
    <head>
        <meta charset="utf-8">
        <title>End2end Test Runner</title>
    </head>
    <body>
        <script src="../angular-scenario.js" ng-autotest></script>
        <%= javascript_include_tag 'testing/integration-tests/tests' %>
    </body>
</html>